.login-form{
    max-width: 610px;
    max-height: 406px;
    margin: 149px auto 0 auto;
    display: flex;
    flex-direction: column;

}

.login-form__logo{
    width: 96px;
    height: 28px;
    margin: 4px 0 0 4px;
}

.login-form__title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 54px;
}

.login-form__title{
    color: #1F1D1C;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    margin: 0 0 20px 0;
}

.login-form__subtitle{
    color: #4A3C73;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    width: 486px;
    margin: 0;
}

.login-form__form{
    display: flex;
    flex-direction: row;
    margin: 50px 0 30px 0;
}

.login-form__input{
    width: 380px;
    border: 1px solid #F1ECFF;
    border-radius: 10px;
    margin-right: 20px;
}

.login-form__button{
    width: 133px;
    height: 48px;
    border: none;
    color: white;
    background-color: #744CED;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

.login-form__button:hover{
    opacity: 0.8;
}

.login-form__text-container{
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.login-form__text-container:last-of-type{
    margin: 0;
}

.login-form__text{
    color: #4A3C73;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    margin: 0 10px 0 0;
}

.login-form__link-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    color: #744CED;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

.login-form__link-text:hover{
    opacity: 0.8;
    cursor: pointer;
}