.footer{
    margin: 277px auto 30px auto;
    max-width: 614px;
    max-height: 106px;
}

.footer__text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__copyright{
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color:#4A3C73;
    margin: 6px 0 7px 0;
    padding: 0;
}

.footer__text{
    margin: 0 0 2px 0;
    padding: 0;
    font-weight: 300;
    font-size: 10px;
    line-height: 130%;
    color: #A197BD;
}

.footer__text:last-of-type{
    margin: 0;
}

.footer__link-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top:0;
    height: 34px;
    max-width: 614px;
}

.footer__link-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #744CED;
    margin: 7px 0 0 0;
    padding: 0;
}

.footer__button{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    height: 20px;
    margin: 7px 0 7px 0;
    border: none;
}

.footer__button-image{
    width: 26px;
    height: 20px;
    margin: 0 6px 0 0;
}

.footer__button-text{
    color: #4A3C73;
    margin: 0;
    padding: 0;
}